@import url(./header.css);
@import url(./infos.css);
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');

body{
   width: 100vw;
   height: 100vh;  
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-image:  url("https://img.freepik.com/free-photo/fantasy-endless-hole-landscape_23-2151639676.jpg");
   background-repeat: no-repeat;
  background-size: cover;
   align-items: center;
   }
   @media (max-width: 450px){
      .btn{
         display: none;
      }
   }





    
   
  
      
   

