@import url(./header.css);
@import url(./infos.css);
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');

body{
   width: 100vw;
   height: 100vh;  
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-image:  url("https://media.licdn.com/dms/image/v2/C4D12AQHmL8LEIxBDZg/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1651497787274?e=2147483647&v=beta&t=qrtSZzc668lr3DjdqHiE-t1Vi35G-UXtMf80vCc4LBA");
   background-repeat: no-repeat;
  background-size: cover;
   align-items: center;
   }
   @media (max-width: 450px){
      .btn{
         display: none;
      }
   }





    
   
  
      
   

