.imagem_logo {
    position: absolute;
    left: 22%;
    top: 15%;
    width: 200vw;
    height: 200vh;

}


#primeiro_nome {
    
   font-family: Cormorant Unicase;
    position: absolute;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 150px;
    top: 13%;
    left: 45%;
}

#segundo_nome {
  position: absolute;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 150px;
    top: 26%;
    left: 44%;
font-family: Cormorant Unicase;
}


#paragrafos {
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    position: absolute;
    top: 55%;
    left: 40%;
    font-size: 32px;
    color: rgb(255, 0, 0);
    font-family: Cormorant Unicase;

}