#img_principal {
    width: 40vh;
    height: 40vh;
    flex-direction: row;

    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 20;
}

#primeiro_nome {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: rgba(152, 226, 41, 0.781);
    font-size: xx-large;
}

#segundo_nome {
    width: 80%;
    margin: 0 auto;
    color: rgba(45, 155, 45, 0.753);
    text-align: center;
}

#img_principal {
    width: 40vh;
    height: 40vh;
    flex-direction: row;

    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 20;
}

#primeiro_nome {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: rgba(152, 226, 41, 0.781);
    font-size: xx-large;
}

#segundo_nome {
    width: 80%;
    margin: 0 auto;
    color: rgba(45, 155, 45, 0.753);
    text-align: center;
    font-size: xx-large;
}

#paragrafos {
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
}

#paragrafos {
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    position: absolute;
    top: 65%;
    left: 33%;
    font-size: x-large;
}