<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formaçao</title>
    <link rel="stylesheet" href="./../css/projetos/formacao.css">
    <script type="module" src="./../../controller/formacao.js"></script>
    <script src="https://kit.fontawesome.com/84cbef14a7.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="cabeçalho">

        <img src="./../../assets/img/images-removebg-preview.png" width="140">

        </div>
        <div id="btns">


            <i></i>
            </button>
            <button class="btn" id="btn_formacao" onclick="alert('Tenha um bom dia')">
                Menu
                <i></i>
            </button>
            <button class="btn" id="btn_projetos" onclick="window.location.href ='./projetos.html'">
                click
                <i></i>
            </button>
        </div>
    </header>
    <section id="cartoes"></section>
   

</body>

</html>